footer.site-footer {
	background-color: $black;
	color: $brand-font-light;
	padding: 120px 0 0;
	.main-footer {
		padding: 0 0 20px;
		.footer-logo img{
			padding: 0 0 15px;
		}
		.block-title {
			color: $white;
			padding: 25px 0;
		}
		a {
			color: inherit;
			&:hover {
				color: $brand-primary;
			}
		}
		.c-item {
			padding: 0 0 10px;
			span {
				display: inline-block;
				&.icon {
					color: $brand-primary;
					font-size: 1rem;
					padding: 0 10px 0 0;
					vertical-align: top;
				}
			}
		}
		.twitter-widget {
			.date {
				font-style: italic;
				padding: 15px 0 0;
				.icon {
					color: $brand-primary;
					font-size: 1rem;
					padding: 0 10px 0 0;
					vertical-align: top;
				}
			}
		}
	}	
	.copyright {
		border-top: 1px solid #353535;
		padding: 20px 0;
		text-align: center;
	}
	
	@include media-breakpoint-down(md) {
		padding: 30px 0 0;
		.footer-logo, .block-title {
			text-align: center;
		}
	}
}