body{ color: $font-color; font-family: $font-regular; font-size: 0.9rem; line-height: 24px; }
ul, ol, h1, h2, h3, h4, h5, h6 { margin: 0; }
img { height: auto; max-height: 100%; max-width: 100%; width: auto; }
a:hover {color: $brand-primary; text-decoration: none;}
.overlay {
	@include position(fixed, 0 0 0 0);
	@include transition(all 0.25s ease-in-out);
	background-color: rgba(0, 0, 0, 0.3);
	display: none;
	z-index: 666;
	&.active {
		display: block;
	}
}