header.site-header {
	background-color: $black;
	color: $white;
	z-index: 999;	
	.branding {
		.logo {
			display: inline-block;
			img {
				max-height: 70px;
			}
		}
	}
	.header-menu {
		li {
			a {
				color: inherit;
				display: block;
				font-family: $font-semibold;
				text-transform: uppercase;
			}
		}
	}
}
@include media-breakpoint-down(md) {
	header.site-header {
		.mobile-menu-handler {
			font-size: 24px;
			padding: 0 10px 0 0;
		}
		.header-menu {
			@include position(fixed, 0 auto 0 -100%);
			@include transition(all 0.5s ease-in-out);
			background-color: $white;
			color: $black;
			width: 90%;
			z-index: 999;
			&.active {
				left: 0;
			}
			.mobile-menu-header {
				background-color: $blue;
				color: $white;
				font-weight: bold;
				padding: 15px 10px 15px 50px;
				position: relative;
				a {
					@include position(absolute, 50% auto auto 15px);
					color: inherit;
					font-size: 24px;
					margin-top: -18px;
				}
			}
			li {
				width: 100%;
				a {
					padding: 10px;
				}
			}			
		}
	}
}
@include media-breakpoint-up(lg) {
	header.site-header {
		@include position(absolute, 0 0 auto 0);
		@include transition(all 0.5s ease-in-out);
		background-color: $header-color;
		&.fixed {
			@include position(fixed, 0 0 auto 0);
			background-color: $black;
		}
		.branding {
			padding: 5px 0;
		}
		.header-menu {
			li {
				float: left;
				a {
					padding: 0 15px;
					&:hover {
						color: $white;
					}
				}
			}
		}
		.social-links {
			li {
				float: left;
				a {
					color: inherit;
					font-size: 20px;
					padding: 0 10px;
				}
			}
		}
	}
}