input, textarea, select {
	border: 3px solid $brand-border;
	margin: 20px 0 0;
	outline: none;
	padding: 8px 18px;
	width: 100%;
}
textarea {
	height: 150px;
}
.btn {
	border-radius: 0;
	font-weight: 600;
	outline: none;	
	text-transform: capitalize;
	&.btn-round {
		border-radius: 20px;
	}
	&.btn-clear {
		background: none;
		border: none;
		padding: 5px;
	}
	&:focus, &:active {
		box-shadow: none;
	}
	&:hover {
		background-color: $black;
		border-color: $black;
	}
}
.view-more-btn {
	display: inline-block;
	font-family: $font-semibold;
	padding: 0 5px;
	text-decoration: underline;
}
.slider {
	.slide {
		position: relative;
		.slide-overlay {
			@include position(absolute, 0 0 0 0);
			color: $white;
			text-align: center;
			z-index: 111;
			.slide-title {
				font-family: $font-semibold;
				font-size: 4rem;
				padding: 0 0 20px;
				text-transform: uppercase;
			}
			.slide-desc {
				font-size: 1.1rem;
				padding: 0 0 30px;
			}
		}
	}
}
.header-banner {
	padding: 120px 0 70px;	
}
.image-box {
	position: relative;
	.image-overlay {
		@include position(absolute, 0 0 0 0);
		@include transition(all 0.5s ease-in-out);
		background-color: rgba(252, 202, 3, 0.5);
		color: $white;
		opacity: 0;
		a {
			color: inherit;
			font-size: 30px;
		}
	}
	&:hover {
		.image-overlay {
			opacity: 1;
		}
	}
}
.accordin-box {
	.accordin-item {
		.accordin-content {
			display: none;
		}
	}
}
.title-one {
	color: $font-title-color;
	font-family: $font-bold;
	font-size: 2.3rem;
	text-transform: uppercase;
}
.title-two {
	color: $font-title-color;
	display: block;
	font-family: $font-bold;
	font-size: 1.2rem;
	padding: 0 0 15px;
	position: relative;
	text-transform: uppercase;
	&:after {
		@include position(absolute, auto auto 0 50%);
		border-bottom: solid 2px $font-title-color;
		content: "";
		display: block;
		margin-left: -20px;
		width: 40px;
	}
}
.title-three {
	color: $font-title-color;
	font-family: $font-bold;
	font-size: 1rem;
	text-transform: uppercase;
}
.tagline-one {
	text-transform: uppercase;
}
.page-title {
	color: $white;
	line-height: normal;
}
.card {
	@include transition(all 0.5s ease-in-out);
	box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
	padding: 20px;
	&.image-card {
		padding: 0;
		.card-content {
			padding: 20px;
		}
	}
	&:hover {
		box-shadow: none;
	}
}
.parallax {
	background-attachment: fixed;
}