.what-we-offer {
	padding: 120px 0;
	.desc-one {
		font-style: italic;
		padding: 40px 125px;
	}
	.three-box {
		.card {
			.icon {
				font-size: 50px;
			}
			.desc {
				padding: 20px 0;
			}
		}
	}
}
.our-works {
	background-color: #303030;
	color: $white;
	padding: 120px 0;
	.title-one {
		color: inherit;
	}
	.desc-one {
		padding: 35px 0 25px 0;
	}
	.slider {
		padding: 30px 0 0;
		.image-box {
			margin: 0 10px 0 0;
		}
		.owl-nav {
			.owl-prev, .owl-next {				
				@include position(absolute, auto auto -50px 0);
				margin: 0;
			}
			.owl-next {
				left: 50px;
			}
		}
	}
}
.why-choose-us {
	padding: 120px 0;
	.title {
		padding: 0 0 30px;
	}
	.feature-item {
		padding: 0 0 25px;		
		.icon {
			@include transition(all 0.5s ease-in-out);
			background-color: #f5f5f5;
			font-size: 36px;
			height: 70px;
			line-height: 70px;
			text-align: center;
			width: 70px;
		}
		.title-three {
			@include transition(all 0.5s ease-in-out);
			padding: 0 0 10px;
		}
		&:hover {
			.title-three, .icon {
				color: $brand-primary;
			}
		}
	}
}
.stats {
	@include clearfix;
	background-color: $brand-black;
	background-image: url('../images/stats-bg.jpg');
	background-repeat: repeat;
	color: $brand-font-light;
	font-weight: bold;
	padding: 75px 0;
	text-align: center;
	text-transform: uppercase;
	.stat-item {
		float: left;
		width: 20%;
		.count {
			color: $brand-primary;
			font-family: $font-bold;
			font-size: 2.3rem;
			line-height: normal;
			padding: 0 0 20px;
		}
	}
}
.services {
	color: $white;
	padding: 120px 0;
	.title {
		padding: 0 0 30px;
		.title-one {
			color: inherit;
			padding: 5px 0 0;
		}
	}
	.service-list {
		padding: 70px 0 40px;		
		.service-item {
			background-color: rgba(255, 255, 255, 0.9);
			color: $brand-black;
			margin: 0 0 30px;
			padding: 30px;
			text-align: center;
			.icon {
				@include transition(all 0.5s ease-in-out);
				font-size: 3rem;
				padding: 0 0 10px;
			}
			.name {
				@include transition(all 0.5s ease-in-out);
				color: inherit;
				font-weight: bold;
				text-transform: uppercase;
			}
			&:hover {
				background-color: $white;
				.icon, .title {
					color: $brand-primary;
				}
			}
		}
	}
}
.blog {
	padding: 120px 0;
	.desc-one {
		font-style: italic;
		padding: 25px 100px;
	}
	.post-item {
		border: solid 2px $brand-border;
		margin: 0 0 20px;
		.title-container {
			@include clearfix;
			background-color: $brand-border;
			padding: 0 10px 0 80px;
			position: relative;
			.date {
				@include position(absolute, 0 auto 0 0);
				background-color: $brand-primary;
				color: $brand-black;
				font-style: italic;
				font-weight: bold;
				width: 70px;
			}
			.post-title {
				padding: 10px 0;
				.title-three {
					font-size: 0.9rem;
				}
			}
			.tagline-one {
				font-size: 0.7rem;
				&.category-link {
					color: inherit;
					&:hover {
						color: $black;
					}
				}
			}
		}
		.post-content {
			padding: 15px;
		}
	}
}
.testimonial {	
	padding: 120px 0;
	.title {
		color: $white;
		padding: 0 0 70px;
		.title-one {
			color: inherit;
		}
	}
	.owl-stage-outer {
		padding: 40px 0 0;
	}
	.owl-dots {
		bottom: -40px;
	}
	.testimonial-item {
		background-color: $white;
		border-bottom: solid 2px $brand-primary;
		margin: 0 15px;
		padding: 60px 25px 25px;
		position: relative;
		.image {
			@include position(absolute, 0 auto auto 50%);
			margin: -30px 0 0 -30px;
			img {
				border-radius: 50%;
				border: solid 2px $brand-primary;
			}
		}
		.desc-two {
			font-size: 0.8rem;
			font-style: italic;
		}
		.title-three {
			font-size: 0.8rem;
			margin: 15px 0 0px;
			padding: 15px 0 0px;
			position: relative;
			&:before {
				@include position(absolute, 0 auto auto 50%);
				border-bottom: solid 2px $brand-primary;
				content: "";
				display: block;
				margin-left: -20px;
				width: 40px;
			}
		}
	}
}
.contact-us {
	padding: 120px 0;
	.desc-one {
		font-style: italic;
		padding: 20px 100px;
	}
	.contact-data {
		box-shadow: $shadow-one;
		padding: 30px 100px;
		.contact-item {
			@include clearfix;
			a {
				color: inherit;
				&:hover {
					color: $brand-primary;
				}
			}
			.icon {
				float: left;
				font-size: 2rem;
				width: 40px;
			}
			.detail {
				float: left;
				width: calc(100% - 40px);
				.title-three {
					font-size: 0.9rem;
				}
			}
		}
	}
	.contact-form {
		margin: auto;
		max-width: 750px;
		padding: 70px 0;
		.title {
			padding: 0 0 30px;
		}
		.buttons {
			padding: 15px 0 0 ;
		}
	}
}
.brands {
	background-color: $brand-primary;
	padding: 50px 0;
	text-align: center;
}