.site-branding { padding: 10px 0; }
.headroom--not-top.header .site-branding img{max-height: 55px;}
.contact-page .call-us h4, .page-template-template-underconstruction .under:before, .scheme .work-with-us:before, .scheme .who .consulting .info:before, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .scheme .home-projects, .scheme .wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header, .scheme .testimonial:before, .scheme .home-projects:before, .woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active, .widget_shopping_cart_content .buttons a.button:hover, .projects-7:before, .counting:before{background-color: rgba(17, 17, 17, 0.7) !important;}
.scheme .footer{background-color: #111;}
.footer img{max-height: 40px;}

@media only screen and (max-width: 425px) {
    .container {
        max-width: 425px;
    }
}
@media only screen and (max-width: 375px) {
    .container {
        max-width: 375px;
    }
}
@media only screen and (max-width: 320px) {
    .container {
        max-width: 320px;
    }
}