// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

$container-max-widths: (
  sm: 540px,
  md: 750px,
  lg: 970px,
  xl: 1170px
) !default;

$blue: #387EF5;
$brand-primary: #FCCA03;
$brand-black: #333333;
$brand-border: #f5f5f5;
$brand-font-light: #a4a4a4;
$header-color: rgba(51, 51, 51, 0.5);
$font-color: #8c8c8c;
$font-title-color: #333333;
$font-regular: 'Open Sans', sans-serif;
$font-semibold: raleway-semibold;
$font-bold: raleway-bold;
$shadow-one: 0 4px 16px 0 rgba(0, 0, 0, 0.05);